@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-main: oklch(70.4% 0.191 22.216);
  --breakpoint-lg: 57rem;
  --breakpoint-sm: 39rem;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@property --hoverColor {
  syntax: "<color>";
  initial-value: oklch(70.4% 0.191 22.216);
  inherits: false;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  @apply text-gray-950 dark:text-white;
  @media print {
    @apply text-gray-950;
  }
}

section {
  @apply mt-3;
  @media print {
    @apply mt-0;
  }
}

h3 {
  @apply text-3xl;
  @apply font-bold;
  @media print {
    @apply text-base;
  }
}

h4 {
  @apply text-xl;
  @apply md:text-2xl;
  @apply font-semibold;
  @media print {
    @apply text-sm;
  }
}

ul {
  margin-left: 1.5rem;
}

.MuiTab-root:hover,
.Mui-selected {
  --hoverColor: --color-main;
}
